[submodule "ThirdParty/DRAMsim3"]
	path = ThirdParty/DRAMsim3
	url = https://hub.fastgit.org/OpenXiangShan/DRAMsim3.git
[submodule "ThirdParty/NEMU"]
	path = ThirdParty/NEMU
	url = https://hub.fastgit.org/huxuan0307/NEMU.git
[submodule "ThirdParty/difftest"]
	path = ThirdParty/difftest
	url = https://hub.fastgit.org/huxuan0307/difftest.git
[submodule "ThirdParty/am-kernels"]
	path = ThirdParty/am-kernels
	url = https://hub.fastgit.org/huxuan0307/am-kernels.git
[submodule "ThirdParty/abstract-machine"]
	path = ThirdParty/abstract-machine
	url = https://hub.fastgit.org/huxuan0307/abstract-machine.git
[submodule "ThirdParty/riscv-test"]
	path = ThirdParty/riscv-test
	url = https://hub.fastgit.org/huxuan0307/riscv-tests.git
